.card {
    background-color: #31384C;
}

.plans-container {
    padding: 2rem;
}

.plans-container .card {
    background-color: #31384C;
    color: #A5AFC5;
    text-align: center;
    height: 300px;
}

.plans-container .card.card-highlight {
    border: 1px solid #95D43D;
    height: 350px;
    /* box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5); */
}

.plans-container .btn-success {
    background-color: #95D43D;
}